In [1]:
import pandas as pd

In [2]:
# df = pd.read_csv("./patent.tsv", sep="\t", nrows = 500 )
df = pd.read_csv("csv_patent_2019/all_inventors.csv")

C:\Users\gongl\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head()

,application_number,inventor_name_first,inventor_name_middle,inventor_name_last,inventor_rank,inventor_city_name,inventor_region_code,inventor_country_code
0,5692088,TROY,E.,PLUNK,1,Bedford,MA,US
1,5692088,JAMES,E.,HOPSON,2,Wellesley,MA,US
2,5692179,PIETRO,,VENTRESCA,1,Littleton,MA,US
3,5692179,FRANCIS,J.,O'HARA,2,Bedford,MA,US
4,5692179,CHESTER,J.,HUNT,3,Melrose,MA,US

In [ ]:
# df.sort_values(["filing_date"], ascending = False).head()

In [ ]:
# df.appl_status_desc.unique()