In [1]:
import pandas as pd

In [2]:
# df = pd.read_csv("./patent.tsv", sep="\t", nrows = 500 )
df = pd.read_csv("csv_patent_2019/attorney_agent.csv")

C:\Users\gongl\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0,3) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head()

,application_number,atty_name_last,atty_name_first,atty_name_middle,atty_name_suffix,atty_phone_number,atty_registration_number,atty_practice_category
0,3831599,Wetzel,James,NaN,NaN,NaN,17686,Attorney
1,3831599,Manzo,Edward,NaN,NaN,312-985-1535,28139,Attorney
2,4003872,Samuel,Richard,NaN,NaN,NaN,24435,Attorney
3,3336080,Ropski,Gary,NaN,NaN,312-321-4216,28257,Attorney
4,3336080,Frankel,William,NaN,NaN,312-321-4200,30337,Attorney

In [ ]:
# df.sort_values(["filing_date"], ascending = False).head()

In [ ]:
# df.appl_status_desc.unique()