In [1]:
import pandas as pd

In [2]:
# df = pd.read_csv("./patent.tsv", sep="\t", nrows = 500 )
df = pd.read_csv("csv_patent_2019/continuity_children.csv")

In [3]:
df.head()

  application_number child_application_number child_filing_date
0           03337899                 05697189        1976-06-17
1           03337899                 05852347        1977-11-17
2           03337899                 06117598        1980-02-01
3           03562595                 90000467        1983-11-14
4           03580410                 90000052        1981-08-12

In [ ]:
# df.sort_values(["filing_date"], ascending = False).head()

In [ ]:
# df.appl_status_desc.unique()