In [1]:
import pandas as pd

In [2]:
# df = pd.read_csv("./patent.tsv", sep="\t", nrows = 500 )
df = pd.read_csv("csv_patent_2019/correspondence_address.csv")

C:\Users\gongl\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0,1,2,3,4,5,6,7,8) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head()

,application_number,correspondence_name,correspondence_street_line_1,correspondence_street_line_2,correspondence_street_line_3,correspondence_city,correspondence_postal_code,correspondence_region_code,correspondence_country_code,customer_number
0,02032617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,02081957,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,02022946,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,02000161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,02255669,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# df.sort_values(["filing_date"], ascending = False).head()

In [ ]:
# df.appl_status_desc.unique()