In [1]:
import pandas as pd

In [2]:
# df = pd.read_csv("./patent.tsv", sep="\t", nrows = 500 )
df = pd.read_csv("csv_claim_2014/patent_claims_stats.csv")

C:\Users\gongl\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df.head(20)

,pat_no,claim_no,word_ct,char_ct,or_ct,sf_ct,cns_ct,ind_flg,appl_id
0,3930271,4,53,299,0,0,0,1,NaN
1,3930271,2,31,194,0,0,0,0,NaN
2,3930271,3,66,452,0,0,0,1,NaN
3,3930271,1,53,347,0,0,0,1,NaN
4,3930272,2,15,88,0,0,0,0,NaN
5,3930272,1,203,1139,1,0,0,1,NaN
6,3930272,3,45,232,0,0,0,0,NaN
7,3930273,23,211,1478,0,0,0,1,NaN
8,3930273,14,39,249,1,0,0,0,NaN
9,3930273,22,39,249,1,0,0,0,NaN
10,3930273,12,39,249,1,0,0,0,NaN
11,3930273,5,44,295,0,0,0,0,NaN
12,3930273,16,66,402,0,0,0,0,NaN
13,3930273,11,65,391,0,0,0,0,NaN
14,3930273,1,194,1349,0,0,0,1,NaN
15,3930273,8,35,223,0,0,0,0,NaN
16,3930273,17,212,1321,0,0,0,1,NaN
17,3930273,19,199,1418,0,0,0,1,NaN
18,3930273,2,133,828,0,0,0,0,NaN
19,3930273,13,32,222,0,0,0,0,NaN

In [ ]:
# df.sort_values(["filing_date"], ascending = False).head()

In [ ]:
# df.appl_status_desc.unique()